---
---

// Abstracts
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

// Base
@import "base/reset";
@import "base/base";

// Utilities
@import "utilities/grid";
@import "utilities/flex";
@import "utilities/spacing";
@import "utilities/sizing";
@import "utilities/typography";
@import "utilities/accessibility";
@import "utilities/clearing";

// Components
@import "components/buttons";
@import "components/icons";
@import "components/forms";
@import "components/tables";
@import "components/menus";
@import "components/avatars";
@import "components/cover";
@import "components/cards";
@import "components/containers";
@import "components/banner";
@import "components/text-block";

// Layouts
@import "layouts/site";
@import "layouts/header";
@import "layouts/footer";
@import "layouts/announcement";
@import "layouts/section";
@import "layouts/post";
@import "layouts/page";

// Color variations
@import "variations/modes";


span.post-date,
span.post-read {
    color: rgba(0, 0, 0, .44);
}


span.categories {
				color: rgba(0, 0, 100, .9
				);
}


.article-post {
    font-family: Merriweather;
    font-size: 1.1rem;
    line-height: 1.84;
    color: rgba(0, 0, 0, .8);
}   
    
.post-top-meta.authorpage .btn.follow {
    padding: 7px 20px;
    margin-top: 10px;
    margin-left: 0;
    font-size: 0.9rem;
}


.bottompagination span.navigation {
    display: block;
    font-size: 0.93rem;
    padding: 15px 0 0 0;
    text-align: center;
    margin-bottom: 0rem;
    color: #999;
    border-top: 1px solid #ddd;
}

.pointerup {
    margin-bottom: -17px;
    margin-left: 49%;
    font-size: 30px;
}

.pointerup i.fa {
    color: #eaeaea;
}

.bottompagination span.navigation i {
    display: inline-block;
}

span.navigation {
    display: inline-block;
    font-size: 0.93rem;
    font-weight: 700;
    text-align: center;
}

.pagination {
    display: block;
}

.column {
    float: left;
				@media(min-width: 460px) {
				width: 30%;
				}@media(max-width: 460px) {
				width: 100%;
				}
    height: 500px;
    grid-column-gap: 5%;
    column-gap: 5%;
    display: inline-block;   
}

.spacecol {
				@media(min-width: 460px) {
				width: 5%;
				}@media(max-width: 460px) {
				width: 1px;
				}
				float: left;
				grid-column-gap: 5%;
    column-gap: 5%;
}

.column:after {
				width: 5%;
				float: left;
}


.row {
width: 100%;
height: 1800px;
}



